/*clarity city*/

nav :hover {
  color: lightblue;
  text-decoration: underline;
}
h1{
  border-style: hidden;
  text-align: center;
  border-bottom-style:groove; 
}

/*REMEMBER*/
nav {
  display: flex;
  gap: 20px;
  background-color: #333;
  padding: 12px 20px;
}

nav a {
  color: white;
  font-family: sans-serif;
}
nav{
  position: sticky;
}
img{
  margin-top: 10px;

}
footer p{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: grey;
  padding: 10px 20px;
}